<header class="header-area header-area-v1">
    <div class="container custom-container">
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="header-top d-flex justify-content-between align-items-center">
                    <div class="item">
                        <ul>
                            <li><a routerLink="/contact">Get A Quote</a></li>
                            <li><a routerLink="/contact">Get Dirctions</a></li>
                        </ul>
                    </div>
                    <div class="live-link">
                        <a routerLink="/"><i class="fal fa-video"></i> Live Streming</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="header-navigation" id="sticky-header">
        <div class="container custom-container">
            <div class="nav-container d-flex align-items-center justify-content-between" [ngClass]="visible ? '' : 'breakpoint-on'" (window:resize)="detectHeader()">
                <!-- site logo -->
                <div class="brand_logo">
                    <a routerLink="/"><img src="assets/images/logo.png" class="img-fluid" alt=""></a>
                </div>
                <div class="nav-menu" [ngClass]="navMethod ? '' : 'menu-on'">
                    <!-- Navbar Close Icon -->
                    <div class="navbar-close"  (click)="toggleNav()">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- nav-menu -->
                    <nav class="main-menu">
                        <ul>
                            <li class="menu-item" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
                                *ngFor="let item of navigation">
                                <a href="javascript:void(0)" (click)="trigger(item)" *ngIf="item.child">{{item.linkText}}</a>
                                <a routerLink="{{item.link}}" *ngIf="!item.child">{{item.linkText}}</a>
                                <ul class="sub-menu" *ngIf="item.child" [ngClass]="item.open ? 'd-block' : ''">
                                    <li class="menu-item" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
                                        *ngFor="let item of item.submenu">
                                        <a href="javascript:void(0)" (click)="trigger(item)" *ngIf="item.child">{{item.linkText}}</a>
                                        <a routerLink="{{item.link}}" *ngIf="!item.child">{{item.linkText}}</a>
                                        <ul class="sub-menu" *ngIf="item.child" [ngClass]="item.open ? 'd-block' : ''">
                                            <li class="menu-item" *ngFor="let item of item.submenu">
                                                <a routerLink="{{item.link}}">{{item.linkText}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="nav-pushed-item">
                        <div class="navbar-btn">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn me-md-2 btnlog"  type="button">Se connecter</button>
                                <button class="btn btncompte "  type="button">Creer un compte</button>
                              </div> 
                        </div>
                    </div>
                </div>
                <div class="nav-push-item" [ngClass]="visible ? '' : 'd-none'" (window:resize)="detectHeader()">
                    <div class="navbar-btn">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn me-md-2 btnlog"  type="button">Se connecter</button>
                            <span class="example-spacer"></span>&nbsp;&nbsp;
                            <button class="btn btncompte "  type="button">Creer un compte</button>
                          </div> 
                    </div>
                </div>
                <!-- Navbar Toggler -->
                <div class="navbar-toggler" [ngClass]="navMethod ? '' : 'active'" (click)="toggleNav()">
                    <span></span><span></span><span></span>
                </div>
            </div>
        </div>
    </div>
</header>