<section class="about-area about-area-v1 pt-120 pb-120" id="about">
    <div class="container">
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="ovent-content-box">
                        <div class="section-title section-title-1 text">
                            <span class="span " style="font-size: 32px ;font-weight: 600;">En plus :</span>
                            <p class="text">
                            Augmentez vos revenus et Fidélisez 
                            votre <br> clientèle en leur permettant 
                             d'acheter <br> du crédit téléphonique !</p></div>
                    </div>
                    
                      
                </div>
            </div>
            <br>
           </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ovent-img">
                    <img src="../assets/images/imgDevices.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ovent-content-box">
                 
                   
                    <div class="card mb-3" style="max-width: 250px;border: none;background-color: transparent;">
                        <div class="row g-0">
                          <div class="col-md-4" style="width: 65px;height: 65px;background-color: white; border-radius: 100%; ">
                            <img src="../assets/images/transfert-d-argent.png" class="img-fluid rounded-start" 
                            style="width: 40px;height: 40px; margin-left: 16px; margin-top: 12px; " alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h3 class="card-title">Transfert d'argent </h3></div>
                          </div>
                        </div>
                      </div>
        
                      <div class="card mb-3" style="max-width: 250px;border: none;background-color: transparent;">
                        <div class="row g-0">
                          <div class="col-md-4" style="width: 65px;height: 65px;background-color: white; border-radius: 100%; ">
                            <img src="../assets/images/Mobile-Money.png" class="img-fluid rounded-start" 
                            style="width: 40px;height: 40px; margin-left: 16px; margin-top: 12px;  " alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h3 class="card-title">Mobile Money </h3>
                              </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="card mb-3" style="max-width: 250px;border: none;background-color: transparent;">
                        <div class="row g-0">
                          <div class="col-md-4" style="width: 65px;height: 65px;background-color: white; border-radius: 100%; ">
                            <img src="../assets/images/paiement-facture.png" class="img-fluid rounded-start" 
                            style="width: 40px;height: 40px; margin-left: 16px; margin-top: 12px;   " alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h3 class="card-title">Paiement Facture</h3> </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="card mb-3" style="max-width: 250px;border: none; background-color: transparent;">
                        <div class="row g-0">
                          <div class="col-md-4" style="width: 65px;height: 65px;background-color: white; border-radius: 100%; ">
                            <img src="../assets/images/credit-telephonique.png" class="img-fluid rounded-start"
                            style="width: 40px;height: 40px; margin-left: 16px; margin-top: 12px; " alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h3 class="card-title tes">Crédit téléphonique</h3></div>
                          </div>
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</section>