<app-header></app-header>
<app-banner></app-banner>
<app-about></app-about>
<!-- team remplace nos solutions -->
<app-team></app-team>

<app-contact></app-contact>
<app-footer [layout]="classname" [logo]="ftlogo" [bg]="ftbg"></app-footer>