<section class="banner-area banner-area-v1 bg_cover" [style.background-image]="'url(assets/images/img3.JPG)'">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-content text-center">
                    <!-- <span>Make some noise with us</span> -->
                    <h1>Des paiements en toute sécurité</h1>
                    <!-- <ul>
                        <li><a class="main-btn" routerLink="/event"><i class="fal fa-ticket"></i> Buy Ticket</a></li>
                        <li><a class="main-btn main-btn-2" routerLink="/about"><i class="fal fa-angle-right"></i> Learn
                                More</a></li>
                    </ul> -->
                    <div class="d-grid gap-2 d-md-center ">
                        <button class="btn me-md-2 btnlog shadow"  type="button">Se connecter</button>
                        <span class="example-spacer"></span>&nbsp;&nbsp;
                        <button class="btn btncompte shadow"  type="button">Creer un compte</button>
                      </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-btn">
        <a pageScroll href="#about" class="page_scroll">
            <img src="assets/images/Arrowdown.png" alt="" style="height: 80px;width: 100px;"></a>
    </div>
    <div class="banner-shape">
        <img src="assets/images/iconebleu.png" style="height: 500px; width: 500px;" alt="">
    </div>
    <div class="banner-location">
        <!-- <i class="fal fa-map-marker-alt"></i> -->
        <img src="assets/images/Wallet.png" alt="">
        <div class="item shadow">
            <!-- <span>Venue</span> -->
            <p class="shadow">Acceptez tous les moyens de paiement
                sur votre site internet</p>
        </div>
    </div>
</section>