<!-- <section class="intro-video-area video-area-v1 bg_cover" [style.background-image]="'url(assets/images/intro-video-bg.jpg)'">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="ovent-content-box">
                    <div class="section-title section-title-1">
                        <span class="span">Intro Video</span>
                        <h2>We Go With Our Quick Process</h2>
                    </div>
                    <h4>The biggest largest widest anticipated Digital Web Conference.</h4>
                    <p>Events must be memorable to make an impact. Of course the desired impact depends on your goals,
                        but most companies want events to be more than just a staged advertisement for their brand.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intro-video-play">
                    <a class="video-popup" href="#">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> -->